@use '../../../../styles/abstracts/_mixins' as mixin

.product-card
  border: 1px solid var(--color-secondary)
  border-radius: 20px
  overflow: hidden
  padding: 30px
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  width: 100%
  height: 100%

.product-card__image
  margin: 0
  font-size: 0
  aspect-ratio: 474/527
  overflow: hidden

.product-card__image-img
  width: 100%
  height: 100%
  object-fit: contain

.product-card__content
  margin-top: 20px
  display: flex
  flex-direction: column
  gap: 15px

.product-card__title
  font-family: var(--font-primary)
  font-weight: var(--fw-bold)
  color: var(--color-primary)
  font-size: 20px

.product-card__category
  font-family: var(--font-primary)
  font-weight: var(--fw-regular)
  color: var(--color-primary)
  font-size: 16px

.product-card__price
  font-family: var(--font-primary)
  font-weight: var(--fw-regular)
  color: var(--color-primary)
  font-size: 25px

.product-card__actions
  margin-top: 20px
  display: flex
  gap: 10px

.product-card__delete
  @include mixin.empty
  font-family: var(--font-primary)
  font-weight: var(--fw-regular)
  color: var(--color-primary)
  font-size: 15px
  border: 1px solid var(--color-primary)
  padding: 10px
  box-sizing: border-box
  margin-top: 15px
