//Colors
$color-primary: #333
$color-secondary: #ed0722
$color-tertiary: #333

$color-black: #000000
$color-white: #ffffff

//Typography
$font-primary: 'Raleway', sans-serif

$fw-regular: 400
$fw-bold: 700

$font-size-base: 16px
$font-size-lg: 18px
$font-size-sm: 14px

//Breakpoints
$breakpoint-xs: 480px
$breakpoint-sx: 640px
$breakpoint-sm: 767px
$breakpoint-md: 960px
$breakpoint-lg: 1024px
$breakpoint-xl: 1280px
$breakpoint-xxl: 1450px
$breakpoint-xxxl: 1600px

//Transitions
$transition: all 0.3s ease-in-out
