@use '../../../styles/abstracts/_mixins' as mixin

.site-btn
  @include mixin.empty
  position: relative
  overflow: hidden
  z-index: 3
  display: inline-block
  box-sizing: border-box
  cursor: pointer
  transition: var(--transition)
  height: 50px
  line-height: 50px
  &:disabled
    opacity: 0.6
    cursor: not-allowed

.site-btn--small
  height: 45px
  line-height: 45px

.site-btn--medium
  height: 50px
  line-height: 50px

.site-btn--big
  height: 55px
  line-height: 55px

.site-btn--rounded
  border-radius: 8px
  .site-btn__inside
    border-radius: 8px

.site-btn__icon
  display: inline-flex
  align-items: center
  justify-content: center
  transition: var(--transition)

.site-btn__inside
  height: 100%
  position: relative
  z-index: 2
  display: flex
  align-items: center
  justify-content: center
  padding: 0 30px
  box-sizing: border-box
  width: 100%
  transition: var(--transition)

.site-btn--icon-right
  .site-btn__icon
    margin-left: var(--spacing-sm)

.site-btn--icon-left
  .site-btn__icon
    margin-right: var(--spacing-sm)

.site-btn--primary
  background-color: var(--color-secondary)
  border: 1px solid var(--color-secondary)
  .site-btn__inside
    font-family: var(--font-primary)
    font-weight: var(--fw-regular)
    color: var(--color-white)
    font-size: 16px
  .site-btn__icon
    color: var(--color-white)
  &:hover:not(:disabled)
    background-color: var(--color-white)
    .site-btn__inside
      color: var(--color-secondary)
    .site-btn__icon
      color: var(--color-secondary)

@include mixin.media(sm)
  .site-btn--medium
    height: 50px
    line-height: 50px

  .site-btn--big
    height: 50px
    line-height: 50px
