@use '../abstracts/_variables' as var

:root
  //Font
  --font-primary: #{var.$font-primary}

  --fw-regular: #{var.$fw-regular}
  --fw-bold: #{var.$fw-bold}

  //Color
  --color-primary: #{var.$color-primary}
  --color-secondary: #{var.$color-secondary}
  --color-tertiary: #{var.$color-tertiary}

  //Generals
  --color-white: #{var.$color-white}
  --color-black: #{var.$color-black}

  //Font Size
  --font-size-base: #{var.$font-size-base}
  --font-size-sm: #{var.$font-size-sm}

  //Transition
  --transition: #{var.$transition}
